.users-index {
  margin-top: 60px;
  padding-top: 20px;
  height: calc(100vh - 80px);
  &__wrapper {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    .all-users {
      overflow: auto;
      &__show {
        padding: 10px;
        display: flex;
        margin: 0 5px 5px 5px;
        line-height: 48px;
        border: 1px solid gray;
        border-radius: 5px;
        object-fit: cover;
        background-color: $hf-color;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        float: left;

        &__user-avator {
          @include wid-height(50px, 50px);
        }
        &__user-nickname {
          margin-left: 5px;
          color: $main-color;
        }
        &:hover {
          padding-right: 20px;
          background-color: deepskyblue;
        }
      }
    }
  }
}

@media screen and (max-width: 480px){
  .users-index__wrapper {
    width: 100vw;
  }
}