.user-profile {
  @include wid-height(838px, 100px);
  margin: 0 auto;
  background-color: white;
  color: #333;
  padding: 10px;
  border: 1px solid #333;
  .upper-contents {
    display: flex;
    height: 100%;
    .avator-img-box {
      @include wid-height(90px, 100%);
      @include flex-center();
      margin-right: 10px;
      .avator-img {
        background-color: white;
        @include wid-height(90px,90px);
      }
    }
    .name-box{
      width: 200px;
      padding-top: 10px;
      font-size: 12px;
      border-right: 2px solid gray;
      .follow-icon {
        padding: 0 10px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
        color: $hf-color;
        margin-top: 5px;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        &:hover {
          color: white;
          padding: 0 20px;
          background-color: lightseagreen;
        }
      }
      .followed-user {
        color: white;
        background-color: lightseagreen;
        &:hover {
          color: $hf-color;
          background-color: white;
        }
      }
    }
    .profile-details{
      width: 520px;
      font-size: 14px;
      margin-left: 10px;
      &__list {
      }
      .self-introduction {
        height: 56px;
        overflow: scroll;
      }
    }
  }
}






// マイページの設定--------------------------------
.user-show-top {
  color: white;
  background-color: $hf-color;
  height: calc(100vh - 122px);
  // height: 668px;
  margin-top: 92px;
  padding-top: 30px;
  &__img-description {
    width: 860px;
    margin: 8px auto 0;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .todays-post {
    width: 860px;
    height: calc(100% - 172px);
    margin: 0 auto;
    display: flex;
    &__img {
      max-height: 360px;
      max-width: 582px;
      &--prev {
        max-height: 360px;
        max-width: 582px;
        object-fit: contain;
        object-position: left;
        box-shadow: 0px 0px 6px 2px #eee;
      }
    }
    &__details {
      min-width: calc(860px - 592px);
      max-width: 500px;
      height: 360px;
      margin-left: 10px;
      &__heading {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
        border-bottom: 2px solid white;
      }
      &__lists {
        &--a-list {
          font-size: 14px;
          padding-bottom: 10px;
          .theme-link {
            .theme-tag {
            }
          }
          .name-link {
            
            color: white;
            &:hover {
              color: lightblue;
            }
          }
          .my-post-link {
          }
        }
      }
    }
  }
}

.other-user-page {
  height: calc(100vh - 122px);
  margin-top: 92px;
  padding-top: 30px;
  &__heading {
    width: calc(100% - 40px);
    margin: 20px auto;
  }
}

.page-back-or-page-index {
  display: block;
  width: 80%;
  max-width: 870px;
  margin: 20px 0;
}

.request-new-post {
  width: 860px;
  margin: 20px auto 0;
}

.no-posts-show {
  width: calc(100% - 40px);
  margin: 20px auto;
}

@media screen and (max-width: 480px){
  .header-bottom-hidden {
    position: fixed;
    top: 60px;
    height: 40px;
    width: 100vw;
    background-color: gray;
    .header-bottom {
      margin-top: 40px;
      height: 40px;
      background-color: gold;
      position: relative;
    }
  }
}