.search-form {
  padding-top: 5px;
  display: flex;
  .search-input {
    height: 20px;
    width: 180px;
    font-size: 12px;
    box-sizing: border-box;
    padding: 4px 24px 4px 10px;
    border: 1px solid #333
  }
  .search-btn {
    height: 20px;
    width: 35px;
    margin-left: 5px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.04);
  }
}

.limit {
  font-size: 12px;
  position: absolute;
  right: 0;
  line-height: 13px;
  text-align: end;
  padding-top: 2px;
  #view_clock {
  }
}

.search-description {
  margin-bottom: 20px;
}

@media screen and (max-width: 480px){
  .search-form{
    display: none;
  }
  .limit {
    font-size: 8px;
  }
}