.search-form {
  .search-input {
    height: 20px;
    width: 130px;
    margin-top: 5px;
    color: #ccc;
    font-size: 12px;
    line-height: 1;
    box-sizing: border-box;
    padding: 4px 24px 4px 10px;
    border: none;
    background: #414349;
  }
  .search-btn {
    height: 20px;
    width: 60px;
  }
}

.limit {
  font-size: 12px;
  position: absolute;
  right: 0;
  line-height: 13px;
  text-align: end;
  padding-top: 2px;
  #view_clock {
    // line-height: 20px;
    // font-size: 14px;
  }
}

