.top-main {
  background-image: image-url('wallpaper2.jpg');
  background-size: cover;
  background-position: center;
  font: 16em Arial;
  height: 100vh;
  @include main-animation();
  .top-page-links {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 12%;
    &__wrapper {
      width: 50%;
      height: 30px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      &__a-list {
        width: 200px;
        height: 100%;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        opacity: 0%;
        color: white;
        @include main-animation();
        animation-delay: 4s;
        &:hover {
          color: yellow;
          font-size: 21px;
          text-shadow: 1px 2px 3px white;
          -webkit-transition: all 0.5s ease;
          transition: all 0.5s ease;
        }
      }
    }
  }
}


// 携帯用ビュー  ーーーーーー

.click-menu {
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
  opacity: 0.8;
  text-align: center;
  line-height: 30px;
  background-color: #333;
  .click-text {
    color: white;
    font-size: 24px;
  }
}

.mobile-top-main {
  background-image: image-url('wallpaper3.jpg');
  background-size: 110% 100vh;
  background-position: center;
  font: 16em Arial;
  height: 100vh;
  transition: all 5s ease;
  .mobile-top {
    position: fixed;
    width: 100%;
    bottom: 80px;
    &__links {
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      transition: all 5s ease;
      &__page-link {
        color: #333;
        height: 160px;
        width: 160px;
        background-color: white;
        padding: 20px;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        margin: 0 30px;
        opacity: 0.8;
        .mobile-top-icon {
          font-size: 120px;
        }
        .mobile-top-icon-description {
          font-size: 30px;
          display: block;
        }
      }
    }
    &:hover {
      opacity: 0.8;
    }
  }
}

.icon-show {
  display: none;
}