body, html, main {
  /* important */
  height: 100%;
}
// ーーーーー 背景の共通部分 ーーーーー

.bg-fixed {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;

}
.bg-1::before, .bg-2:before, .bg-3:before, .bg-4:before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0.2;
  position: absolute;
}

// ーーーーー 背景（メッセージ）共通部分 ーーーーー

.msg {
  width: 800px;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, sans-serif;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  .msg-contents {
    color: #fff;
    font-size: 40px;
    text-shadow: 1px 1px 5px grey;
    font-style: oblique;
  }
}

// ーーーーー コンテンツ共通部分 ーーーーー
.bg-scrolling {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;

}

.bg-container {
  width: 800px;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, sans-serif;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  .pg-theme {
    font-size: 40px;
    border-bottom: 5px solid gray;
    margin-bottom: 10px;
  }
}

// ーーーーー ここまでが共通部分 ーーーーー




// ーーーーー 写真 １ 枚目 ーーーーー

.bg-fixed.bg-1 {
  background-image: image-url("wallpaper11.jpg");
}

.bg-scrolling.bg-color-1 {
  background-color: lightblue;
}


// ーーーーー 写真 ２ 枚目 ーーーーー

.bg-fixed.bg-2 {
  background-image: image-url("wallpaper12.jpg");
}

.bg-scrolling.bg-color-2 {
  background-color: wheat;
}


// ーーーーー 写真 ３ 枚目 ーーーーー

.bg-fixed.bg-3 {
  background-image: image-url("wallpaper13.jpg");
}

.bg-scrolling.bg-color-3 {
  background-color: darksalmon;
}

.theme-table {
  display: flex;
  flex-flow: row wrap;
  .theme-one {
    width: 260px;
  }
}


// ーーーーー 写真 ４ 枚目 ーーーーー

.bg-fixed.bg-4 {
  background-image: image-url("tokyo.jpg");
  flex-direction: column;
  .btn-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 300px;
    width: 800px;
    position: relative;
    .top-btn {
      height: 40px;
      width: 200px;
      background-color: #fff;
      border-radius: 5px;
      text-align: center;
      line-height: 40px;
      text-decoration: none;
      color: black;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5 ease;
    }
    .top-btn:hover {
      box-shadow: 0px 0px 3px 3px #fff;
      background-color: yellow;
      color: blue;
    }
  }  
}

.bg-scrolling.bg-color-4 {
  background-color: midnightblue;
}

