.theme-index-page {
  margin-top: 60px;
  &__lists-box {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 30px;
    &__lists {
      display: flex;
      justify-content: flex-start;
      flex-flow: row wrap;
      .theme-link {
        text-decoration: none;
        margin: 0 20px 20px;
        border-radius: 2px;
        .a-theme-list {
          height: 50px;
          width: auto;
          border: 1px solid;
          background-color: white;
          color: cornflowerblue;
          line-height: 50px;
          padding: 0px 20px;
          border: 2px solid;
        }
      }
      .theme-link:hover {
        box-shadow: 1px 1px 1px 1px gray;
        border: 2px;
        font-weight: bold;
        .a-theme-list:hover {
          background-color: cornflowerblue;
          color: white;
   
        }
      }
    }
    .theme-description {
      margin-top: 20px;
      padding: 5px 10px;
      font-size: 18px;
      font-weight: bold;
      border: 3px outset $hf-color;
      &__message {
        font-size: 14px;
        font-weight: 100;
      }
    }
  }
}