.themes-show {
  padding-top: 20px;
  max-width: 1200px;
  margin: 92px auto 0;
  .themes-pagenation {
    margin-left: 10px;
  }  
}


.themes-show__contents {
  padding-top: 20px;
  overflow: auto;
}

.back {
  display: block;
  width: 100%;
}
