.top-main
  %link{href: "https://fonts.googleapis.com/css?family=Slabo+27px", rel: "stylesheet", type: "text/css"}/
  %svg{version: "1.1", viewbox: "0 0 800 600"}
    %symbol#fade-text
      %text{"text-anchor": "middle", x: "50%", y: "40%"} ONE DAY
      %text{"text-anchor": "middle", x: "50%", y: "60%"} Photo Contest
    %g
      %use.stroke{"xlink:href": "#fade-text"}
      %use.fill{"xlink:href": "#fade-text"}
  .top-page-links
    .top-page-links__wrapper
      = link_to "TOP PAGE", posts_path, class: "top-page-links__wrapper__a-list"
      = link_to "SIGN IN", "/users/sign_in", class: "top-page-links__wrapper__a-list"
      = link_to "ABOUT", "/tops/show", class: "top-page-links__wrapper__a-list"


