<div class="top-main">
<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

<svg version="1.1" viewBox="0 0 800 600">

  <symbol id="fade-text">
    <text x="45%" y="40%" text-anchor="middle">ONE </text>
    <text x="55%" y="60%" text-anchor="middle">DPC</text>
  </symbol>

  <g>
    <use class="stroke" xlink:href="#fade-text"/>
    <use class="fill" xlink:href="#fade-text"/>
  </g>

</svg>
<div class="links">

  <%= link_to "TOP PAGE", "/posts", method: :get, class: "links__top-page" %>
  <%= link_to "SIGN IN", "/users/sign_in", method: :get, class: "links__sign-in"%>

</div>
