
<div class="top-main">
<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

<svg version="1.1" viewBox="0 0 800 600">

  <symbol id="fade-text">
    <text x="50%" y="40%" text-anchor="middle">ONE DAY</text>
    <text x="50%" y="60%" text-anchor="middle">Photo Contest</text>
  </symbol>

  <g>
    <use class="stroke" xlink:href="#fade-text"/>
    <use class="fill" xlink:href="#fade-text"/>
  </g>

</svg>
<div class="links">
  <div class="links__box1">
    <%= link_to "TOP PAGE", "/posts", method: :get, class: "links__box1--top-page" %>
  </div>
  <div class="links__box2">
    <%= link_to "SIGN IN", "/users/sign_in", method: :get, class: "links__box2--sign-in"%>
  </div>
</div>
