%main
  .bg-fixed.bg-1
    .msg
      %p.msg.msg-contents
        One
        %br
          Day Photo Contest
          %br &#x5185;&#x5BB9;&#x8AAC;&#x660E;
        %p{:style => "position: relative; margin-top: 500px;"} &#x2B07;&#xFE0E;&#x4E0B;&#x3078;&#x30B9;&#x30AF;&#x30ED;&#x30FC;&#x30EB;
      .bg-scrolling.bg-color-1
        .bg-container
          %p.pg-theme
            %i One Day Photo Cotest &#x3068;&#x306F;?
          %br
            %p
              %i> &#x300E;&#x5199;&#x771F;&#x521D;&#x5FC3;&#x8005;&#x300F;
              \&#x3001;
              %i> &#x300E;&#x30A2;&#x30DE;&#x30C1;&#x30E5;&#x30A2;&#x5199;&#x771F;&#x611B;&#x597D;&#x5BB6;&#x300F;
              \&#x5411;&#x3051;&#x306E;&#x30D5;&#x30A9;&#x30C8;&#x30B3;&#x30F3;&#x30C6;&#x30B9;&#x30C8;&#x3067;&#x3059;&#x3002;
              %br
                %br
                  \&#x4E00;&#x65E5;&#xFF08;one day&#xFF09;&#x3054;&#x3068;&#x306B;&#x51FA;&#x3055;&#x308C;&#x308B;&#x304A;&#x984C;&#xFF08;&#x30C6;&#x30FC;&#x30DE;&#xFF09;&#x306B;&#x6CBF;&#x3063;&#x3066;&#x3001;
                  %br
                    %br
                      \&#x4E00;&#x4EBA;&#x4E00;&#x679A;&#xFF08;one photo&#xFF09;&#x5199;&#x771F;&#x3092;&#x6295;&#x7A3F;&#x3057;&#x307E;&#x3059;&#x3002;
                      %br
                        %br
                          \&#x4E00;&#x65E5;&#x306B;&#x304A;&#x3051;&#x308B;&#x3001;&#x300E;&#x3044;&#x3044;&#x306D;&#x300F;&#x306E;&#x7DCF;&#x7372;&#x5F97;&#x6570;&#x304C;&#x591A;&#x3044;&#x5199;&#x771F;&#x304C;&#x3001;
                          %br
                            %br
                              \&#x305D;&#x306E;&#x65E5;&#x306E;&#x30B3;&#x30F3;&#x30C6;&#x30B9;&#x30C8;&#xFF08;one contest&#xFF09;&#x306E;&#x512A;&#x52DD;&#x8005;&#x3068;&#x306A;&#x308A;&#x307E;&#x3059;&#x3002;
                        .bg-fixed.bg-2
                          .msg
                            %p.msg.msg-contents
                              \&#x30B9;&#x30DE;&#x30DB;&#x3084;&#x30D1;&#x30BD;&#x30B3;&#x30F3;&#x306B;&#x3057;&#x307E;&#x3063;&#x305F;&#x307E;&#x307E;&#x306E;
                              %br &#x5199;&#x771F;&#x3092;&#x6295;&#x7A3F;&#x3057;&#x3088;&#x3046;
                          .bg-scrolling.bg-color-2
                            .bg-container
                              %p.pg-theme
                                %i &#x904E;&#x53BB;&#x306B;&#x64AE;&#x3063;&#x305F;&#x81EA;&#x4FE1;&#x4F5C;&#x306F;&#x3042;&#x308A;&#x305B;&#x3093;&#x304B;&#xFF1F;
                              %br
                                %p
                                  \&#x30AB;&#x30E1;&#x30E9;&#x521D;&#x5FC3;&#x8005;&#x304C;&#x96C6;&#x307E;&#x308B;&#x30B3;&#x30F3;&#x30C6;&#x30B9;&#x30C8;&#x3060;&#x304B;&#x3089;&#x3053;&#x305D;&#x3001;
                                  %br
                                    %br
                                      \&#x73FE;&#x5B58;&#x306E;&#x30D5;&#x30A9;&#x30C8;&#x30B3;&#x30F3;&#x30C6;&#x30B9;&#x30C8;&#x306E;&#x3088;&#x3046;&#x306B;&#x6577;&#x5C45;&#x306F;&#x9AD8;&#x304F;&#x3042;&#x308A;&#x307E;&#x305B;&#x3093;&#x3002;
                                      %br
                                        %br
                                          \&#x30C6;&#x30FC;&#x30DE;&#x306B;&#x6CBF;&#x3063;&#x3066;&#x3044;&#x308C;&#x3070;&#x3001;&#x53E4;&#x3044;&#x5199;&#x771F;&#x3067;&#x3082;&#x5927;&#x4E08;&#x592B;&#xFF01;
                                          %br
                                            %br
                                              \&#x5B66;&#x751F;&#x6642;&#x4EE3;&#x306B;&#x64AE;&#x3063;&#x305F;&#x5199;&#x771F;&#x3084;&#x3001;&#x4ECA;&#x306E;&#x30B3;&#x30EC;&#x30AF;&#x30B7;&#x30E7;&#x30F3;&#x306A;&#x3069;&#x3001;
                                              %br
                                                %br
                                                  \&#x53C2;&#x52A0;&#x3057;&#x305F;&#x3044;&#x6642;&#x306B;&#x81EA;&#x7531;&#x306B;&#x53C2;&#x52A0;&#x53EF;&#x80FD;&#x3067;&#x3059;&#x3002;
                                            .bg-fixed.bg-3
                                              .msg
                                                %p.msg.msg-contents
                                                  \&#x30C6;&#x30FC;&#x30DE;&#x306F;&#x65E5;&#x4ED8;&#x3067;&#x56FA;&#x5B9A;
                                                  %br &#xFF11;&#x65E5;&#x3068;&#x65E5;&#x66DC;&#x306F;&#x300E;&#x81EA;&#x7531;&#xFF08;&#x30D5;&#x30EA;&#x30FC;&#x30C6;&#x30FC;&#x30DE;&#xFF09;&#x300F;
                                              .bg-scrolling.bg-color-3
                                                .bg-container
                                                  %p.pg-theme
                                                    %i &#x30C6;&#x30FC;&#x30DE;&#x306B;&#x5408;&#x308F;&#x305B;&#x3066;&#x597D;&#x304D;&#x306A;&#x5199;&#x771F;&#x3092;&#x6295;&#x7A3F;&#x3057;&#x3088;&#x3046;
                                                  %br
                                                    %p &#x30C6;&#x30FC;&#x30DE;&#x4E00;&#x89A7;
                                                    .theme-table
                                                      - i = 1
                                                      - @theme.each do |theme|
                                                        .theme-one
                                                          = i
                                                          \&#x65E5;&#xFF1A;#{theme.name}
                                                          - i += 1
                                                    %p{:style => "padding-top:10px;"}
                                                      \&#x203B;&#x6BCE;&#x9031;&#x65E5;&#x66DC;&#x65E5;&#x306F;&#x65E5;&#x4ED8;&#x306B;&#x95A2;&#x4FC2;&#x306A;&#x304F;&#x3001;&#x300E;&#x81EA;&#x7531;&#xFF08;&#x30D5;&#x30EA;&#x30FC;&#x30C6;&#x30FC;&#x30DE;&#xFF09;&#x300F;&#x3068;&#x306A;&#x308A;&#x307E;&#x3059;&#x3002;
                                                      %br
                                                  .bg-fixed.bg-4
                                                    .msg
                                                      %p.msg.msg-contents &#x4ECA;&#x65E5;&#x304B;&#x3089;&#x30B3;&#x30F3;&#x30C6;&#x30B9;&#x30C8;&#x306B;&#x53C2;&#x52A0;&#x3057;&#x3088;&#x3046;
                                                    .btn-links
                                                      %a{:href => "/posts"}>
                                                      , class="top-btn"&gt;
                                                      TOP PAGE
                                                    = succeed "," do
                                                      %a{:href => "/users/sign_in"}
                                              .bg-scrolling.bg-color-4
                                                .bg-container
