<div class="main">
  <div class="main-content second">
    <p class="sentence">ユーザー　一覧ページ ( ニックネームをクリックすると、ユーザーページへ移動します )</p>
    <div class="main-content__box">


      <ul class="users-list">
        <% @users.each.with_index(1) do |user, index| %>
          <li class="one-user"><%= index %>.
            <a href="/users/<%= user.id %>", class="username"> <%= user.nickname %></a>
          </li>
        <% end %>
      </ul>
      <%= link_to "投稿一覧へ戻る", posts_path, class: "root-btn" %>
    </div>
  </div>
</div>