.header-bottom-hidden
  .header-bottom
    %p.header-bottom__todays-theme
      %span{style: "font-weight:bold;"}
        本日のテーマ
        %br
        『
        = @today_theme.name
        』
    %span.time-limit
      ※投稿/投票の締切本日24時
      %br
      %span#view_clock
        :javascript
          timerID = setInterval('clock()',500); //0.5秒毎にclock()を実行

          function clock() {
            document.getElementById("view_clock").innerHTML = getNow();
          }

          function getNow() {
            var now = new Date();
            var year = now.getFullYear();
            var mon = now.getMonth()+1; //１を足すこと
            var day = now.getDate();
            var you = now.getDay();
            var hour = now.getHours();
            var min = now.getMinutes();
            var sec = now.getSeconds();

            //曜日の選択肢
            var youbi = new Array("日","月","火","水","木","金","土");

            //出力用
            var s = year + "年" + mon + "月" + day + "日("+ youbi[you] +")" + hour + "時" + min + "分" + sec + "秒"; 
            return s;
          }