

.footer {
  background-color: $hf-color;
  margin-top: 40px;
  width: 100%;
  color: white;
  &__contents {
    padding: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    &__developer-msg {
      width: 70%;
      &--heading {
        font-size: 18px;
        font-weight: bold;
      }
      &--contest-description {
        font-size: 15px;
        color: lightslategray;
      }
      &--links {
        padding-right: 20px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
      }
      .inquiry-form-btn {
        padding: 0 20px;
        border-radius: 5px;
      }
    }
    .inquiry-form-wrapper {
      width: 30%;
      .inquiry-form {
        display: none;
        width: 100%;
        &__title {
          font-size: 16px;
        }
        &__input {
          width: calc(100% - 10px);
          padding: 0 5px;
          border-radius: 5px;
          margin-bottom: 10px;
        }
        &__submit {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

@media screen and (max-width: 480px){
  .mobile-footer {
    background-color: #333;
    margin: 40px 0px;
    padding: 40px 10px;
    width: calc(100% - 20px);
    color: lightgray;
    &__contents {
      overflow: auto;
      background-color: #333;
      &__developer-msg {
        width: 100%;
        &--heading {
          font-size: 18px;
          font-weight: bold;
        }
        &--contest-description {
          font-size: 14px;
          color: lightslategray;
        }
      }
      .mobile-inquiry-form-description {
        margin-top: 20px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
      }
      .mobile-inquiry-form-wrapper {
        width: 100%;
        margin-top: 10px;
        .mobile-inquiry-form {
          width: 100%;
          padding-left: 5px;
          &__title {
            font-size: 14px;
          }
          &__input {
            width: calc(100% - 25px);
            padding: 0 5px;
            border-radius: 5px;
            margin-bottom: 10px;
          }
          &__submit {
            width: 82px;
            height: 28px;
            background-color: white;
            border-radius: 5px;
            font-size: 14px;
          }
        }
      }
    }
  }
  .short-cut {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 42px;
    background-color: #fff;
    border-top: 1px solid #fff;
    position: fixed;
    bottom: 0;
    z-index: 2000;
    &__list {
      width: 33%;
      height: 100%;
      text-align: center;
      line-height: 42px;
      font-size: 12px;
      &__link {
        color: #333;
        &:hover {
          color: deepskyblue;
        }
      }
    }
  }
}