.header {
  font-family: $main-font;
  font-size: 20px;
  background-color: $hf-color;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;

  &__box {
    width: 1200px;
    margin: 0 auto;
    .onedpc-logo {
      text-decoration: none;
      color: $font-color;
      font-weight: bold;
      line-height: 60px;
      &:hover {
        color: $hover-color;
        font-weight: bold;
      }
    }
    .menu {
      position: relative;
      float: right;
      height: 60px;
      text-align: center;
      line-height: 60px;
      width: 80%;
      max-width: 1000px;
      &__single {
        position: relative;
        width: 25%;
        height: 60px;
        font-size: 12px;
        line-height: 60px;
        float: right;
        .pulldown {
          display: block;
          text-decoration: none;
          color: $font-color;
          // &:after {
          //   content: '';
          //   display: inline-block;
          //   width: 6px;
          //   height: 6px;
          //   margin: 0 0 0 15px;
          //   border-right: 1px solid #fff;
          //   border-bottom: 1px solid #fff;
          //   -webkit-transform: rotate(45deg);
          //   transform: rotate(45deg);
          // }
        }
        .menu__second-level {
          position: absolute;
          top: 60px;
          width: 100%;
          background: gray;
          -webkit-transition: .2s ease;
          transition: .2s ease;
          visibility: hidden;
          opacity: 0;
          .pulldown-list {
            text-decoration: none;
            color: $font-color;
            display: block;
            &:hover {
              background-color: lightgray;
              opacity: 1;
            }
          }
        }
        &:hover ul.menu__second-level {
          top: 60px;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}