.a-post{
  height: 290px;
  width: auto;
  max-width: 280px;
  float: left;
  margin: 0 5px 5px 0;
  position: relative;
  display: flex;
  justify-content: center;
  .a-post-img-box {
    background-color: #333;
    width: 390px;
    display: flex;
    justify-content: center;
    #a-post-img {
      height: 290px;
      max-width: 100%;
      margin: 0 auto;
      background-color: #333;
      object-fit: cover;
    }
  }
  &__detail {
    width: calc(100% - 10px);
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    visibility: hidden;
    padding: 10px 0px 5px 10px;
    .theme-wrong-notice {
      position: absolute;
      top: -100px;
      height: 48px;
      width: calc(100% - 22px);
      font-size: 14px;
      color: red;
      background-color: pink;
      text-align: center;
      line-height: 50px;
      border: 1px solid red;
    }
  }

  &:hover .a-post__detail {
    visibility: visible;
  }
}

@media screen and (max-width: 480px){
  .a-post{
    height: 152px;
    width: 49%;
    margin: 0 2px 2px 0;
    .a-post-img-box {
      height: 100%;
      width: 100%;
      #a-post-img {
        height: 152px;
      }
    }
    &__detail {
      width: calc(100% - 10px);
      height: 50px;
      background-color: rgba(0, 0, 0, 0.8);
      color: white;
      font-size: 12px;
      position: absolute;
      bottom: 0;
      z-index: 10;
      visibility: hidden;
      padding: 10px 0px 5px 10px;
      .theme-wrong-notice {
        position: absolute;
        top: -100px;
        height: 48px;
        width: calc(100% - 22px);
        font-size: 14px;
        color: red;
        background-color: pink;
        text-align: center;
        line-height: 50px;
        border: 1px solid red;
      }
    }
    &:hover .a-post__detail {
      visibility: visible;
    }
  }
}
