<div class="new-message">



  <%= form_with(model: @post, local: true, id: "message-form") do |form| %>
    <p class="text">
      新規投稿する
    </p>
    <span class="select-theme">投稿するテーマを選択してください</span>
    <%= form.collection_select(:theme_ids, Theme.all, :id, :name, id: "select-box") %>
    <%= render partial: "form", locals: { form: form} %>
  <% end %>
</div>