<div class="main">
  <div class="main-top">
    <div class="main-top__box"> 
      <p class="main-top__box--todays-theme"> 本日のお題：<span style="font-weight:bold;">『　<%= @today_theme.name %>　』</p>


      <%= render partial: "/shared/clock"%>

    </div>
  </div>

  <div class="main-content">
    <div class="main-content__box">
      <ul class="box-list">
        <% @posts.each do |post| %>
          <%= render partial: "post", locals: { post: post }%>
        <% end %>
      </ul>
    </div> 
  </div>
</div>
