<div class="main">
  <%# メインページ（テーマ） %>
  <div class="main-top">
    <div class="main-top__box">
      <p class="main-top__box--todays-theme">今日のテーマ：『雪』</p>
      <%= form_with(url: search_posts_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>

      <div class="main-content">
        <div class="main-content__box">
          <ul class="box-list">
            <% @posts.each do |post| %>
              <%= render partial: "post", locals: { post: post }%>
            <% end %>
          </ul>
        </div> 
      </div>      

    </div>
  </div>
</div>
