a {
  text-decoration: none;
  color: deepskyblue;
  &:hover {
    font-weight: bold;
  }
}

.empty-box {
  height: 92px;
}


// 投稿するボタン
.new-post-icon {
  @include wid-height(100px, 100px);
  @include flex-center(center);
  flex-direction: column;
  background-color: deepskyblue;
  color: white;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  &__text {

  }
  &__camera-icon {
    font-size: 40px;
  }
  &:hover {
    opacity: 0.5;
  }
}
.non-user {
  background-color: #333;
  border: 1px solid white;
}
.re-post {
  background-color: goldenrod;
}



// いいねぼたん
.likes-favorites-box {
  display: flex;
  height: 40px;
  width: calc(100% - 30px);
  position: absolute;
  bottom: 0;
  margin: 0;
  &__count-box {
    display: block;
    text-decoration: none;
    color: white;
    height: 100%;
    width: 50%;
    border: 1px solid gray;
    text-align: center;
    line-height: 40px;
  }
  .likes-count:hover {
    background-color: pink;
    .icon-heart {
      color: red;
    }
  }
  .favorites-count:hover {
    background-color: lightblue;
  }
}

.dismiss-like {
  color: red;
  // background-color: pink;
}

.dismiss-favorite {
  color: yellow;
  // background-color: lightblue;
}

.icon-star {
  &:hover {
    color: yellow;
  }
}


