a {
  text-decoration: none;
  color: deepskyblue;
  &:hover {
    font-weight: bold;
  }
}

.empty-box {
  height: 92px;
}


// 投稿するボタン
.new-post-icon {
  @include wid-height(100px, 100px);
  @include flex-center(center);
  flex-direction: column;
  background-color: deepskyblue;
  color: white;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 10px;
  z-index: 10;
  &__text {

  }
  &__camera-icon {
    font-size: 40px;
  }
  &:hover {
    opacity: 0.5;
  }
}
.non-user {
  background-color: #333;
  border: 1px solid white;
}
.re-post {
  background-color: goldenrod;
}



// // いいねぼたん
.likes-favorites {
  padding-left: 20px;
  color: #333;
  .like-push {
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px 1px #333;
    margin-right: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    .like-submit {
      color: #333;
    }
    &:hover {
      // opacity: 0.6;
      padding-right: 5px;
      background-color: pink;
    }
  }
  .already-liked {
    background-color: pink;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    &:hover {
      background-color: white;
    }
  }
  .fav-push {
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px 1px #333;
    margin-right: 10px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    .like-submit {
      color: #333;
    }
    &:hover {
      padding-right: 5px;
      background-color: yellow;
    }
  }
  .already-faved {
    background-color: yellow;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    &:hover {
      background-color: white;
    }
  }
  .like-push-time-over {
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 2px 1px #333;
    margin-right: 10px;
  }
  .time-over-liked {
    background-color: pink;
  }
}


// thanks.html.haml
.after-mailed-page {
  margin-top: 80px;
  &__thanks-msg {
    text-align: center;
    font-size: 50px;
  }
  &__msg-success{
    text-align: center;
    font-size: 30px;
    color: darkcyan;
  }
}


// ページネーション
.page.current {
  text-decoration:underline slategray;
}

.page {
  padding: 5px;
  margin-right: 7px;
}

.pagination {
  display: inline;
}

.translation_missing {
  display: none;
}


// テーマの緑色のリンク
.theme-link {
  color: white;
  .theme-tag {
    font-size: 14px;
    background-color: green;
    border-radius: 10px;
    padding: 4px 10px;
  }
  &:hover {
    opacity: 0.8;
  }
}


@media screen and (max-width: 480px){
  .theme-link {
    .theme-tag {
      font-size: 10px;
    }
    &:hover {
      opacity: 0.8;
    }
  }

}
