// ヘッダー部分の記述
@import "values";

a {
  text-decoration: none;
  color: blue;
}
a:hover {
  color: $hover-color;
  text-shadow: 1px 1px 1px black;
}

i {
  color: black;
  font-size: 30px;
}

.root-btn {
  margin-right: 150px;
  float: right;
  border: 1px solid;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: cornflowerblue;
  color: #fff;
}
.root-btn:hover {
  color: yellow;
  border: 3px solid cornflowerblue;
}

.onedpc-logo {
  height: 40px;
  margin-top: 10px;
}
.onedpc-logo:hover {
  height: 42px;
}


.header {
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 20px;
  background-color: $hf-color;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  // border-bottom: 1px solid gray;
  box-shadow: 0 3px 5px gray;
  &__box {
    width: 1200px;
    margin: 0 auto;
    &__links {
      display: flex;
      text-align: center;
      float: right;
      padding-top: 8px;
      &__row {
        text-decoration: none;
        color: $font-color;
        font-size: 12px;
        font-weight: bold;
        margin-right: 15px;
        line-height: 50px;
      }
      &__row:hover {
        color: $hover-color;
        text-shadow: 1px 2px 3px white;
      }
    }
  }
}


