.sentence {
  margin: 0 80px;
  padding-top: 20px;
  border-bottom: 3px solid gray;
  height: 35px;
}
.users-list {
  padding: 0 60px;
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  .one-user {
    font-size: 20px;
    color: gray;
    .username {
      font-size: 30px;
      color: #000;
      margin-right: 30px;
    }
    .username:hover {
      color: blue;
      text-shadow: 1px 1px 1px gray;
    }
  }
}
