$main-color: #fff;
$hf-color: #000;

.additional {
  width: auto;
  display: inline-block;
  position: relative;
  height: auto;
}

.main {
  animation-name: fade_in1;
  animation-duration: 3s; //アニメーション時間
  animation-timing-function: ease-out; //アニメーションさせるイージング
  animation-iteration-count: 1; //繰り返し回数
  animation-direction: normal; //往復処理をするかどうか
  animation-fill-mode: forwards; 
// メイン（テーマ）
  .main-top {
    background-color: $main-color;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    margin-top: 60px;
    border-bottom: 1px solid gray;
    z-index: 2;
    &__box {
      height: 100%;
      width: 1200px;
      margin: 0 auto;
      &--todays-theme {
        float: left;
        padding-top: 6px;
        font-size: 20px;
        font-weight: bold;
        font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, sans-serif;
        margin-right: 20px;
      }
      .limit {
        display: block;
        width: 200px;
        float: right;
        font-size: 12px;
      }
      #view_clock {
        float: right;
        line-height: 20px;
        font-size: 14;

      }
      .search-form {
        height: 100%;
        .search-input {
          height: 25px;
          width: 200px;
          margin-top: 5px;
        }
        .search-btn {
          width: 60px;
        }

      }
    }
  }




  // メイン（コンテント）
  .main-content{
    background-color: $main-color;
    height: auto;
    width: 100%;
    margin-top: 100px;
    &__box {
      height: 100%;
      width: 1200px;
      padding-top: 20px;
      margin: 0 auto;
      .box-list{
        white-space: nowrap;
        overflow-x: scroll;
        height: 360px;
        padding: 40px 100px 60px;
        &__image{
          min-height: 360px;
          min-width: 480px;
          margin: 0 20px 20px;
          background-size: cover;
          background-repeat: no-repeat;
          display: inline-block;
          position: relative;

          &--text-contents {
            height: 360px;
            width: 480px;
            position: relative;
            .title {  
              padding-left: 10px;
              padding-right: 50px;
              font-size: 16px;
              display: block;
              position: absolute;
              top: 10px;
            }
            .more {
              position: absolute;
              top: 10px;
              right: 0px;
              padding-top: 5px;
              width: 50px;
              display: flex;
              flex-direction: column;
              .image_tag {
                display: flex;
                justify-content: center;
              }
              .more_list {
                overflow: hidden;
                position: absolute;
                top: 0px;
                padding-top: 15px;
                display: flex;
                flex-direction: column;
                height: 2px;
                &__a-list {
                  text-decoration: none;
                  color: white;
                }
                &__a-list:hover {
                  color: yellow;
                  font-weight: bold;
                }
              }
              .more_list:hover {
                overflow: visible;
                animation-name: fade_in1;
                animation-duration: 0.5s; //アニメーション時間
                animation-timing-function: ease-out; //アニメーションさせるイージング
                animation-iteration-count: 1; //繰り返し回数
                text-shadow: 3px 2px 5px gray;
              }
            }
            .iine-box {
              position: absolute;
              bottom: 20px;
              left: 20px;
              .iine-count {
                font-size: 14px;
              }
              .like {
                text-decoration: none;
                color: #fff;
                opacity: 0.5;
              }
              .iine {
                opacity: 1;
                color: rgb(230, 101, 123);
              }
              .like:hover {
                text-shadow: 3px 2px 5px gray;
                opacity: 1;
              }
              .iine:hover {
                color: blue;
              }
              .dislike:hover {
                color: rgb(230, 101, 123);
              }
            }
            .name {
              padding-right: 10px;
              font-size: 18px;
              display: block;
              position: absolute;
              bottom: 10px;
              right: 0;
              color: #fff;
              .name-link {
                text-decoration: none;
                color: #fff;
              }
            }
            .name:hover .name-link{
              text-shadow: 3px 2px 5px gray;
              font-weight: bold;
              color: skyblue;
            }
          } 
          &--text-contents:hover {
            opacity: 1;
            animation-name: fade_in1;
            animation-duration: 0.5s; //アニメーション時間
            animation-timing-function: ease-out; //アニメーションさせるイージング
            animation-iteration-count: 1; //繰り返し回数
            text-shadow: 3px 2px 5px gray;
          }
        }
        &__image:hover {
          color: white;
          box-shadow: 1px 2px 20px gray;
          transform: scale(1.1);
          transition-duration: 0.3s;

        }







        .first-box {
          background-image: url('https://d1f5hsy4d47upe.cloudfront.net/63/6333d84293f6fd6a764a44556b2b2e3d_t.jpeg');
          background-size: cover;
          width: 720px;
          margin: 20px;
          padding: 30px 130px;
          border: 10px solid gold;
          .rank-first {
            background-size: 720px 540px;
            min-width: 720px;
            min-height: 540px;
            &--contents {
              height: 540px;
              width: 720px;
              color: #fff;
              position: relative;
              opacity: 1;
              .title {  
                padding-left: 10px;
                padding-right: 50px;
                font-size: 16px;
                display: block;
                position: absolute;
                top: 10px;
              }
              .more {
                position: absolute;
                top: 10px;
                right: 0px;
                padding-top: 5px;
                width: 50px;
                display: flex;
                flex-direction: column;
                .image_tag {
                  display: flex;
                  justify-content: center;
                }
                .more_list {
                  overflow: hidden;
                  position: absolute;
                  top: 0px;
                  padding-top: 15px;
                  display: flex;
                  flex-direction: column;
                  height: 2px;
                  &__a-list {
                    text-decoration: none;
                    color: white;
                  }
                  &__a-list:hover {
                    color: yellow;
                    font-weight: bold;
                  }
                }
                .more_list:hover {
                  overflow: visible;
                  animation-name: fade_in1;
                  animation-duration: 0.5s; //アニメーション時間
                  animation-timing-function: ease-out; //アニメーションさせるイージング
                  animation-iteration-count: 1; //繰り返し回数
                  text-shadow: 3px 2px 5px gray;
                }
              }
              .iine-box {
                position: absolute;
                bottom: 20px;
                left: 20px;
                .iine-count {
                  font-size: 14px;
                }
                .like {
                  text-decoration: none;
                  color: #fff;
                  opacity: 0.5;
                }
                .iine {
                  opacity: 1;
                  color: rgb(230, 101, 123);
                }
                .like:hover {
                  text-shadow: 3px 2px 5px gray;
                  opacity: 1;
                }
                .iine:hover {
                  color: blue;
                }
                .dislike:hover {
                  color: rgb(230, 101, 123);
                }
              }
              .name {
                padding-right: 10px;
                font-size: 18px;
                display: block;
                position: absolute;
                bottom: 10px;
                right: 0;
                color: #fff;
                .name-link {
                  text-decoration: none;
                  color: #fff;
                }
              }
              .name:hover .name-link{
                text-shadow: 3px 2px 5px gray;
                font-weight: bold;
                color: skyblue;
              }
            } 
            &--contents:hover {
              opacity: 1;
            }
          }
        }
      }
      .theme {
        position: absolute;
        top: -30px;
        left: 0px;
        color: #fff;
        background-color: black;
        margin: 0 20px;
        width: calc(100% - 40px);
        text-align: center;
      }
      .theme.wrong {
        background-color: red;
      }
      .theme.right {
        visibility: hidden;
      }
    }
  }
  .top-page {
    float: right;
    margin-right: 160px;
    margin-bottom: 100px;
  }
  .second {
    margin-top: 60px;
    .main-content__box {
      .post-notion {
        padding-left: 60px;
        height: 60px;
        font-size: 16px;
      }
    }
  }
}
// フッター
.footer {
  background-color: $hf-color;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, sans-serif;
  font-weight: bold;
  margin-top: 40px;
  height: 300px;
  width: 100%;
  min-width: 1200px;
  z-index: 1;
  &__box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    &--logo {
      color: #fff;
    }
  }
}

