.new-message {
  padding-top: 80px;
  width: 100%;
  height: calc(100vh - 120px);
  #message-form {
    border: 1px solid black;
    height: 300px;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .text {
      height: 60px;
      font-size: 20px;
      text-align: center;
      font-weight: bold;
      line-height: 40px;
    }
    #title {
      height: 40px;
      margin-bottom: 20px;
      padding-left: 10px;
    }
    #title:hover {
      box-shadow: 1px 2px 5px gray;
    }
    #image {
      height: 40px;
      margin-bottom: 40px;
      padding-left: 10px;
    }
    #image:hover {
      box-shadow: 1px 2px 5px gray;
    }
    #submit-btn {
      height: 40px;
      width: 300px;
      margin: 0 auto;
      opacity: 0.5;
      background-color: skyblue;
      color: #fff;
      line-height: 40px; 
      border-radius: 15px;
    }
    #submit-btn:hover {
      box-shadow: 1px 2px 5px gray;
      opacity: 1;
    }
  }
}