$main-color: #fff;
$hf-color: #000;

.mains {
  animation-name: fade_in1;
  animation-duration: 4s; //アニメーション時間
  animation-timing-function: ease-out; //アニメーションさせるイージング
  animation-iteration-count: 1; //繰り返し回数
  animation-direction: normal; //往復処理をするかどうか
  animation-fill-mode: forwards; 
// メイン（テーマ）
  .mains-top {
    background-color: $main-color;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    margin-top: 60px;
    border-bottom: 1px solid gray;
    z-index: 2;
    &__box {
      height: 100%;
      width: 1200px;
      margin: 0 auto;
      &--todays-theme {
        float: left;
        padding-top: 6px;
        font-size: 20px;
        font-weight: bold;
        font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        margin-right: 20px;
      }
      .limit {
        display: block;
        width: 200px;
        float: right;
        font-size: 12px;
      }
      #view_clock {
        float: right;
        line-height: 20px;
        font-size: 14;

      }
      .search-form {
        height: 100%;
        .search-input {
          height: 25px;
          width: 200px;
          margin-top: 5px;
        }
        .search-btn {
          width: 60px;
        }

      }
    }
  }


  // メイン（コンテント）
  .mains-content{
    background-color: $main-color;
    height: auto;
    width: 100%;
    margin-top: 100px;
    &__box {
      height: 100%;
      width: 1200px;
      padding-top: 20px;
      margin: 0 auto;
      .box-list{
        display: flex;
        list-style: none;
        justify-content: flex-start;
        flex-flow: row wrap;
        padding-left: 60px;
        padding-bottom: 60px;


        .first-box {
          background-image: url('https://d1f5hsy4d47upe.cloudfront.net/1c/1c02167c6e82cf271bb243ab7395d591_t.jpeg');
          background-size: cover;
          width: 720px;
          margin: 20px;
          padding: 30px 130px;
          border: 10px solid gold;
          .rank-first {
            background-size: 720px 540px;
            min-width: 720px;
            min-height: 540px;
            &--contents {
              height: 540px;
              width: 720px;
              color: #fff;
              position: relative;
              opacity: 1;
              .title {  
                padding-left: 10px;
                padding-right: 50px;
                font-size: 16px;
                display: block;
                position: absolute;
                top: 10px;
              }
              .more {
                position: absolute;
                top: 10px;
                right: 0px;
                padding-top: 5px;
                width: 50px;
                display: flex;
                flex-direction: column;
                .image_tag {
                  display: flex;
                  justify-content: center;
                }
                .more_list {
                  overflow: hidden;
                  position: absolute;
                  top: 0px;
                  padding-top: 15px;
                  display: flex;
                  flex-direction: column;
                  height: 2px;
                  &__a-list {
                    text-decoration: none;
                    color: white;
                  }
                  &__a-list:hover {
                    color: yellow;
                    font-weight: bold;
                  }
                }
                .more_list:hover {
                  overflow: visible;
                  animation-name: fade_in1;
                  animation-duration: 0.5s; //アニメーション時間
                  animation-timing-function: ease-out; //アニメーションさせるイージング
                  animation-iteration-count: 1; //繰り返し回数
                  text-shadow: 3px 2px 5px gray;
                }
              }
              .iine-box {
                position: absolute;
                bottom: 20px;
                left: 20px;
                .iine-count {
                  font-size: 14px;
                }
                .like {
                  text-decoration: none;
                  color: #fff;
                  opacity: 0.5;
                }
                .iine {
                  opacity: 1;
                  color: rgb(230, 101, 123);
                }
                .like:hover {
                  text-shadow: 3px 2px 5px gray;
                  opacity: 1;
                }
                .iine:hover {
                  color: blue;
                }
                .dislike:hover {
                  color: rgb(230, 101, 123);
                }
              }
              .name {
                padding-right: 10px;
                font-size: 18px;
                display: block;
                position: absolute;
                bottom: 10px;
                right: 0;
                color: #fff;
                .name-link {
                  text-decoration: none;
                  color: #fff;
                }
              }
              .name:hover .name-link{
                text-shadow: 3px 2px 5px gray;
                font-weight: bold;
                color: skyblue;
              }
            } 
            &--contents:hover {
              opacity: 1;
            }
          }
        }


        .second-box {
          background-image: url('https://d1f5hsy4d47upe.cloudfront.net/f2/f206d9df60e1c58934c765bb89d4e623_t.jpeg');
          background-size: cover;
          width: 400px;
          margin: 20px;
          padding: 20px 34px;
          border: 6px solid silver;
          .rank-other {
            background-size: 400px 300px;
            min-width: 400px;
            min-height: 300px;
            &--contents {
              height: 300px;
              width: 400px;
              color: #fff;
              position: relative;
              opacity: 1;
              .title {  
                padding-left: 10px;
                padding-right: 50px;
                font-size: 16px;
                display: block;
                position: absolute;
                top: 10px;
              }
              .more {
                position: absolute;
                top: 10px;
                right: 0px;
                padding-top: 5px;
                width: 50px;
                display: flex;
                flex-direction: column;
                .image_tag {
                  display: flex;
                  justify-content: center;
                }
                .more_list {
                  overflow: hidden;
                  position: absolute;
                  top: 0px;
                  padding-top: 15px;
                  display: flex;
                  flex-direction: column;
                  height: 2px;
                  &__a-list {
                    text-decoration: none;
                    color: white;
                  }
                  &__a-list:hover {
                    color: yellow;
                    font-weight: bold;
                  }
                }
                .more_list:hover {
                  overflow: visible;
                  animation-name: fade_in1;
                  animation-duration: 0.5s; //アニメーション時間
                  animation-timing-function: ease-out; //アニメーションさせるイージング
                  animation-iteration-count: 1; //繰り返し回数
                  text-shadow: 3px 2px 5px gray;
                }
              }
              .iine-box {
                position: absolute;
                bottom: 20px;
                left: 20px;
                .iine-count {
                  font-size: 14px;
                }
                .like {
                  text-decoration: none;
                  color: #fff;
                  opacity: 0.5;
                }
                .iine {
                  opacity: 1;
                  color: rgb(230, 101, 123);
                }
                .like:hover {
                  text-shadow: 3px 2px 5px gray;
                  opacity: 1;
                }
                .iine:hover {
                  color: blue;
                }
                .dislike:hover {
                  color: rgb(230, 101, 123);
                }
              }
              .name {
                padding-right: 10px;
                font-size: 18px;
                display: block;
                position: absolute;
                bottom: 10px;
                right: 0;
                color: #fff;
                .name-link {
                  text-decoration: none;
                  color: #fff;
                }
              }
              .name:hover .name-link{
                text-shadow: 3px 2px 5px gray;
                font-weight: bold;
                color: skyblue;
              }
            } 
            &--contents:hover {
              opacity: 1;
            }
          }
        }
        .third {
          background-image: url('https://www.pakutaso.com/shared/img/thumb/ELL86_nunotex220140405_TP_V.jpg');
          border: 6px solid #7A592F;
        }
      }
    }
  }
}
