.theme-link {
  color: white;
  .theme-tag {
    font-size: 14px;
    background-color: green;
    border-radius: 10px;
    padding: 4px 10px;
  }
  &:hover {
    opacity: 0.8;
  }
}
    
.behind-img{
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 508px;
  object-fit: cover;
}

.behind-boke {
  position: absolute;
  background-color: $hf-color;
  opacity: 0.5;
  z-index: 1;
  width: 100%;
  height: 508px;
}

.main {
  // animation-name: fade_in1;
  // animation-duration: 3s; //アニメーション時間
  // animation-timing-function: ease-out; //アニメーションさせるイージング
  // animation-iteration-count: 1; //繰り返し回数
  // animation-direction: normal; //往復処理をするかどうか
  // animation-fill-mode: forwards; 
  position: relative;
// メイン（テーマ）
  .main-top {
    background-color: $font-color;
    height: 30px;
    width: 100%;
    position: fixed;
    top: 0px;
    margin-top: 60px;
    border-bottom: 3px solid lightgray;
    z-index: 2;
    &__box {
      height: 100%;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      position: relative;
      &--todays-theme {
        font-size: 15px;
        font-weight: bold;
        font-family: $main-font;
        margin-right: 20px;
        margin-top: 3px;
      }
    }
  }
  .section-one {
    color: gold;
    // height: calc(100vh - 122px);
    height: 478px;
    margin-top: 92px;
    padding-top: 30px;
    position: relative;
    top: 0;
    z-index: 1;
    &__notice-msg {
      position: fixed;
      bottom: 0;
      right: 0;
      background-color: slategray;
      color: white;
    }

    &__img-description {
      width: 860px;
      margin: 0 auto;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .yesterdays-number-one {
      width: 860px;
      height: 560px;
      margin: 0 auto;
      display: flex;
      &__img {
        max-height: 360px;
        max-width: 582px;
        &--prev {
          max-height: 360px;
          max-width: 582px;
          object-fit: contain;
          object-position: left;
          box-shadow: 0px 0px 10px 4px gold;
        }
      }
      &__details {
        color: white;
        min-width: 268px;
        max-width: 500px;
        height: 360px;
        margin-left: 10px;
        position: relative;
        background-color: rgba(0, 0, 0, 0.4);
        &__heading {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 20px;
          border-bottom: 2px solid white;
        }
        &__lists {
          &--a-list {
            font-size: 14px;
            padding-bottom: 10px;
          }
        }
        .likes-favorites-box {
          display: flex;
          height: 40px;
          width: 100%;
          position: absolute;
          bottom: 0;
          background-color: rgba(0, 0, 0, 0.4);

          &__count-box {
            display: block;
            height: 100%;
            width: calc(50% - 2px);
            border: 1px solid gray;
            text-align: center;
            line-height: 40px;
          }
          .likes-count:hover {
            background-color: pink;
          }
          .favorites-count:hover {
            background-color: lightblue;
          }
        }
      }
    }
  }
  .section-two {
    height: 190px;
    position: relative;
    &__heading {
      background-color: white;
      width: 230px;
      height: 20px;
      font-size: 12px;
      border-radius: 1px;
      position: absolute;
      top: 0px;
      left: 8px;
      padding-left: 10px;
    }
    &__user-posts {
      background-color: $hf-color;
      width: calc(100% - 40px);
      padding: 30px 20px 10px;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      .img-box {
        height: 150px;
        width: 150px;
        object-fit: cover;
        margin-right: 20px;
        display: inline-block;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  .section-three {
    height: auto;
    width: 100%;
    overflow: auto;
    &__top {
      // height: auto;
      height: 100vh;
      width: calc(100% - 100px);
      // padding: 120px 0;
      margin: 0 50px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      border-bottom: 2px solid lightgray;
      .sec3-text {
        text-align: center;
        width: 80%;
        margin: 0 auto;   
      }
      .todays-posts {
        font-size: 50px;
      }
      .posts-theme {
        padding: 10px 0;
      }
    }
    &__contents {
      padding-top: 80px;
      width: 100%;
      margin: 0 auto;
      &__a-post{
        #a-post-img {
        }
        .a-post-detail {
          .theme-wrong-notice {
          }
        }
      }
    }
  }
}


// -----------------------------------------
.section-four {
  margin: 40px auto;
  width: 100%;
  overflow: auto;
}
.tab-group{
  display: flex;
  border-bottom: 1px solid gray;
  margin: 0 40px 20px;
  height: 80px;
}
.tab{
  flex-grow: 1;
  padding: 5px;
  list-style: none;
  border: solid 1px #CCC;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  width: 100px;
}
.panel-group{
}
.panel{
  display:none;
}
.tab.is-active{
  background: $hf-color;
  color:#FFF;
  transition: all 0.2s ease-out;
  border:solid 1px #CCC;

}
.panel.is-show{
  display:block;
}

.img-img {
  width: 500px;
  object-fit: contain;
}


// -----------------------------------------




.footer {
  background-color: $hf-color;
  margin-top: 40px;
  height: 300px;
  width: 100%;
  color: white;
  &__contents {
    padding-top: 20px;
    height: calc(100% - 20px);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    &--heading {
      font-size: 18px;
      font-weight: bold;
    }
    &__contest-description {
      font-size: 14px;
      color: lightslategray;
      width: 1000px;
      float: left;
      padding-right: 20px;
    }
    &__links {
      width: 500px;
      float: left;
      margin-top: 20px;
    }
  }
}



// 携帯サイズの時

@media screen and (max-width: 480px){
  .main {
    .main-top {
      background-color: black;
      height: 30px;
      width: calc(100% - 10px);
      position: fixed;
      top: 0px;
      margin-top: 60px;
      padding-left: 10px;
      border-bottom: 3px solid lightgray;
      z-index: 2;
      color: white;
      &__box {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        position: relative;
        &--todays-theme {
          font-size: 12px;
          font-weight: bold;
          font-family: $main-font;
          margin-right: 20px;
          margin-top: 5px;
        }
        .search-input {
          width: 80px;
          position: absolute;
          right: 10px;
        }
        .limit {
          display: none;
        }
      }
    }
  }

}

