.new-post {
  width: 100%;
  height: calc(100vh - 92px);
  color: white;
  position: fixed;
  margin-top: 92px;
  &__create {
    width: 460px;
    height: calc(100% - 40px);
    padding: 20px;
    float: left;
    background-color: $hf-color;
    &__action-description {
      font-size: 20px;
      border-bottom: 2px solid white;
      margin-bottom: 20px;
    }
    &__form {
      margin-bottom: 10px;
    }
    #post_theme_ids {
      width: 70%;
      height: 30px;
      margin-bottom: 20px;
    }
    .form-box {
      width: 90%;
      margin-bottom: 20px;
      padding-left: 10px;
    }
    .message-form-box {
      height: 100px;
    }
    .post-submit {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      margin-bottom: 20px;
      .post-submit-btn {
        background-color: cornflowerblue;
        color: white;
        font-weight: bold;
        width: 80%;
        height: 40px;
        border-radius: 5px;
        &:hover {
          height: 42px;
          opacity: 0.8;
        }
      }
    }
  }
}

#new-img_prev{
  max-width: 500px;
  max-height: 500px;
  position: absolute;
  left: 520px;
  top: 40px;
  object-fit: contain;
}
.prev-msg {
  position: absolute;
  top: 8px;
  left: 520px;
  color: black;
}
.color-black {
  color: black;
}
.one-post-message {
  width: 1200px;
  margin: 120px auto 0;
  color: black;
  // text-align: center;
  .changeif-prev {
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
  }
}
