.new-post {
  width: 100%;
  height: calc(100vh - 92px);
  color: white;
  margin-top: 92px;
  &__wrapper {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    &__create {
      width: 460px;
      height: calc(100% - 40px);
      padding: 20px;
      float: left;
      background-color: $hf-color;
      &__action-description {
        font-size: 20px;
        border-bottom: 2px solid white;
        margin-bottom: 20px;
      }
      &__form {
        margin-bottom: 10px;
      }
      #post_theme_ids {
        width: 70%;
        height: 30px;
        margin-bottom: 20px;
      }
      .form-box {
        width: 90%;
        margin-bottom: 20px;
        padding-left: 10px;
      }
      .message-form-box {
        height: 100px;
      }
      .file-upload {
        height: 100px;
        width: 100%;
        background-color: gray;
        text-align: center;
        line-height: 125px;
        cursor: pointer;
        margin-bottom: 40px;
        &__icon {
          font-size: 62px;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
        &:hover {
          opacity: 0.8;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
        }
      }
      .post-submit {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        margin-bottom: 20px;
        .post-submit-btn {
          background-color: cornflowerblue;
          color: white;
          font-weight: bold;
          width: 80%;
          height: 60px;
          border-radius: 5px;
          &:hover {
            height: 42px;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.prev-img-wrapper {
  width: calc(100% - 460px);
  background-color: rgba(0,0,0,0.09);
  height: 100%;
  border-right: 2px solid #333;
  .prev-msg {
    position: relative;
    color: black;
  }
  #new-img_prev{
    max-width: 500px;
    max-height: 500px;
    position: absolute;
    top: 40px;
    object-fit: contain;
  }
}


.one-post-message {
  width: 1200px;
  margin: 50px auto 0;
  color: black;
  .changeif-prev {
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
  }
}
