.post-show-top {
  background-color: $hf-color;
  width: 100%;
  height: calc(100vh - 92px);
  overflow: auto;
  margin-top: 92px;
  padding-top: 20px;
  color: #fff;
  .post-show-wrapper {
    min-width: 870px;
    height: 100%;
    margin: 22px auto 0;
    max-width: 1200px;
    &__img-description {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 8px;
    }
    .post-contents {
      display: flex;
      &__img {
        max-height: 360px;
        max-width: 582px;
        &--prev {
          max-height: 360px;
          max-width: 582px;
          object-fit: contain;
          object-position: left;
          box-shadow: 0px 0px 6px 2px $hf-color;
        }
      }
      &__details {
        max-width: calc(100% - 582px);
        min-width: 350px;
        height: auto;
        margin-left: 10px;
        padding: 10px 10px 30px;
        background-color: lightslategray;
        &__heading {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 20px;
          border-bottom: 2px solid $main-color;
        }
        &__lists {
          &--a-list {
            font-size: 14px;
            padding-bottom: 10px;
            .theme-link {
              .theme-tag {
              }
            }
            .name-link {
              
              &:hover {
                color: lightblue;
              }
            }
            .my-post-link {
            }
          }
        }
      }
    }
  }
}



.comments-wrapper {
  max-width: 1200px;
  min-height: 200px;
  margin: 40px auto 0;
  display: flex;
  .comment-box {
    min-width: 300px;
    &__form {
      height: auto;
      padding: 20px;
      border: 1px solid;
      border-radius: 5px;
      background-color: #fff;
      #comment_comment {
        width: 100%;
        height: 60px;
      }
    }
    .submit-box {
      height: auto;
      margin-top: 10px;
      display: flex;
      justify-content: flex-end;
      &__send-btn {
        height: 30px;
        width: 80px;
        border: 1px solid skyblue;
        background-color: skyblue;
        color: white;
      }
      &__send-btn:hover {
        box-shadow: 3px 2px 5px gray;
      }
    }
  }
  .comments-index {
    width: calc(100% - 312px);
    padding-left: 12px;
    max-height: 200px;
    .comments__heading {
    }
    .comments {
      height: 180px;
      overflow: scroll;
    }
  }
}




#posts-section-one {
  height: calc(100vh - 190px);
  width: 100%;
}

.liked-users{
  height: 20px;
  width: 200px;
  overflow: hidden;
  margin-top: 10px;
  box-shadow: 2px 2px 2px 2px #333;
  &__list {
    height: 20px;
    width: 200px;
    margin-bottom: 5px;
    &--a-list {
      display: inline;
    }
  }
  &:hover {
    overflow: visible;
  }
}