.show {
  width: 100%;
  margin-top: 60px;
  &__details {
    max-height: 800px;
    display: flex;
    justify-content: center;
    // align-items: center;
    &__image{
      height: auto;
      // max-height: 800px;
      max-width: 1200px;
      // width: 80%;
      &--text-contents {
        // height: 600px;
        // width: 100%;
        // color: black;
        position: relative;
        // opacity: 0;
        .show-title {  
          font-size: 20px;
        }
        .show-more {
          position: absolute;
          .show-image_tag {
          }
          .show-more_list {
            &__a-list {
              
              color: black;
            }
            // &__a-list:hover {
            //   color: yellow;
            //   font-weight: bold;
            // }
          }
          // .show-more_list:hover {
          //   overflow: visible;
          //   animation-name: fade_in1;
          //   animation-duration: 0.5s; //アニメーション時間
          //   animation-timing-function: ease-out; //アニメーションさせるイージング
          //   animation-iteration-count: 1; //繰り返し回数
          //   text-shadow: 3px 2px 5px gray;
          // }
        }
        .iine-box {
          position: absolute;
          bottom: 20px;
          left: 20px;
          .iine-count {
            font-size: 14px;
          }
          .like { 
            
            font-size: 22px;
            color: black;
            // opacity: 0.7;
          }
          // .iine {
          //   // opacity: 1;
          //   color: rgb(230, 101, 123);
          // }
          // .like:hover {
          //   text-shadow: 3px 2px 5px gray;
          //   // opacity: 1;
          // }
          // .iine:hover {
          //   color: blue;
          // }
          // .dislike:hover {
          //   color: rgb(230, 101, 123);
          // }

        }
        .show-name {
          padding-right: 10px;
          font-size: 20px;
          display: block;
          position: absolute;
          bottom: 10px;
          right: 0;
          .show-name-link {
            
            color: #fff;
          }
        }
        // .show-name:hover .show-name-link{
        //   text-shadow: 3px 2px 5px gray;
        //   font-weight: bold;
        //   color: skyblue;
        // }
      } 
      // &--text-contents:hover {
      //   // opacity: 1;
      //   animation-name: fade_in1;
      //   animation-duration: 0.5s; //アニメーション時間
      //   animation-timing-function: ease-out; //アニメーションさせるイージング
      //   animation-iteration-count: 1; //繰り返し回数
      //   text-shadow: 3px 2px 5px gray;
      // }
    }
    // &__image:hover {
    //   color: white;
    //   box-shadow: 1px 2px 20px gray;
    //   background-color: transparent;
    // }
    .back-to-toppage {
      display: block;
      float: right;
      padding-top: 20px;
    }
    .comment-box {
      height: auto;
      padding: 10px;
      &__form {
        height: auto;
        padding: 20px;
        border: 1px solid;
        border-radius: 5px;
        #comment_comment {
          width: 100%;
          height: auto;
        }
      }
      .submit-box {
        height: auto;
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
        &__send-btn {
          height: 30px;
          width: 80px;
          border: 1px solid skyblue;
          background-color: skyblue;
          color: white;
        }
        // &__send-btn:hover {
        //   box-shadow: 3px 2px 5px gray;
        // }
      }
    }
  }
}


#posts-section-one {
  padding: 100px 0 0px;
  height: calc(100vh - 190px);
  width: 100%;
  // position: fixed;
}